on: [push]

jobs:
#   call-workflow-passing-data:
#     name: called workflow
#     uses: dreamli0/test_actions_02/.github/workflows/resuable_workflow_job_public.yml@main
#     with:
#       who-to-greet: 'musset'
# #       hi-there: ${{ secrets.token }}
#     secrets: inherit
# #       AWS: ${{secrets.AWS}}
# #       AZURE: ${{ secrets.AZURE }}
  
# #   job2:
# #     runs-on: ubuntu-latest
# #     needs: call-workflow-passing-data
# #     steps:
# #       - env:
# #           OUTPUT1: ${{needs.call-workflow-passing-data.outputs.output1}}
# #         run: echo $OUTPUT1
# #       - name: Get the output time
# #         run: echo `id`
        
  
  job2:
    runs-on: ubuntu-latest
    # needs: call-workflow-passing-data
    steps:
      - name: use composite action
        uses: xiaofan88/composite-action@main
        with:
          who-to-greet: 'musset'
      # - name: dreamli action step
      #   id: hello
      #   uses: dreamli0/my-action@main
      #   with:
      #     hi-there: ${{ secrets.AWS }}
      # - name: Get the output time
      #   run: echo "The Greeting time was ${{ needs.call-workflow-passing-data.outputs.output1 }}"
